{%load static %}
<!DOCTYPE HTML>
<html lang="en" >
<html>
<head>
  <title>Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{% static 'login_style.css'%}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>  
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body class="body">
	
	
<div class="login-page">
  <div class="form">
{% if error %}
{{error}}
{% endif %}
    <form method="post" action="/login" enctype="multipart/form-data" >
{% csrf_token %}
      <input type="text" name="email" placeholder="&#xf007;  email"/>
      <input type="password" name="password" placeholder="&#xf023;  password"/>
      <button type="submit">LOGIN</button>
    </form>

      <a href='/signup' class="btn btn-primary">SIGN UP</a>
  </div>
</div>

</body>
</html>

